<header class="nabvar">
  <div class="nabvar__logo">
    <a><img src="https://img.freepik.com/vector-premium/diseno-creativo-iconos-gimnasio-fitness_706143-1330.jpg" alt="ImagenLogo" class="nabvar__logo--img"></a>
  </div>

  <div class="nabvar__item">
    <a href="navbar.component.html" class="nabvar__item-links" routerLink="exercises">EJERCICIOS</a>
    <a href="" class="nabvar__item-links" routerLink="routine">RUTINAS</a>
    <a href="" class="nabvar__item-links" routerLink="videos">VIDEOS</a>
    <a href="" class="nabvar__item-links" routerLink="users">USUARIOS</a>
    <!-- <a href="" class="nabvar__item-links">CONTACTO</a> -->
  </div>
</header>
