<section class="routine">
<div class="routine__conteiner">
  <button class="routine__conteiner-button">PECTORALES</button>
  <button class="routine__conteiner-button">TRICEPS</button>
  <button class="routine__conteiner-button">BICEPS</button>
  <button class="routine__conteiner-button">ESPALDA</button>
  <button class="routine__conteiner-button">TRAPACIOS</button>
  <button class="routine__conteiner-button">HOMBROS</button>
  <button class="routine__conteiner-button">GEMELOS</button>
  <button class="routine__conteiner-button">ANTEBRAZOS</button>
  <button class="routine__conteiner-button">CUADRICEPS</button>
  <button class="routine__conteiner-button">IZQUIOTIBIALES</button>
  <button class="routine__conteiner-button">CARDIO</button>
  <button class="routine__conteiner-button">ABDOMINALES</button>
  <button class="routine__conteiner-button">DESCANZO</button>
  <button class="routine__conteiner-button">ESTIRAMIENTO</button>
  <button class="routine__conteiner-button">DIETA</button>
</div>
</section>