<section class="container">

<section class="container__routine">
  <ng-template #desktop>
    <div class="container__routine-button">
      <button class="container__routine-button-exercises" 
      *ngFor="let exercise of exercises"
      > {{ exercise }}
    </button>
    </div>
  </ng-template>
<mat-form-field *ngIf="mobile; else desktop">
  <mat-label>RUTINAS</mat-label>
  <mat-select>
    <mat-option *ngFor="let topping of exercises" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
</section>

<section class="container__card">
  <div class="container__card-right">
    <h1 class="container__card-right-title">PECTORALES</h1>
    <img src="https://i.ytimg.com/vi/cCUWW80DVMA/maxresdefault.jpg" alt="imgTriceps" class="container__card-right-img">
  </div>
  <div class="container__card-left">
     <table class="container__card-left-table">
        <thead class="colorwhite">
          <tr>
            <th>EJERCICIOS</th><th>SERIES</th><th>REPETICIONES</th>
          </tr>
          <tr>
            <td>PRESS DE BANCA CON BARRA EN BANCO PLANO</td><td>4</td><td>12</td>
          </tr>
          <tr>
            <td>PRESS DE BANCA CON BARRA EN BANCO INCLINADO</td><td>4</td><td>12</td>
          </tr>
          <tr>
            <td>BPRESS DE BANCA CON BARRA EN BANCO DECLINADO</td><td>4</td><td>12</td>
          </tr>
           <tr>
            <td>APERTURAS DE PECHO EN MAQUINAS</td><td>4</td><td>12</td>
           </tr>
        </thead>
     </table>
    
  </div>
</section>
</section>