.container {
  margin-top: 60px;
    &__routine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-button {
      display: flex;
      flex-direction: row;
      gap: 5px;
      border-radius: 30px;

      &-exercises {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
    &__card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 15px;
      padding: 15px;

      &-right{
        &-title {
          color: white;
          display: flex;
          justify-content: center;
        }
        &-img{
          width: 400px;
          height: 300px;
        }
      }

      &-left {
        background-color: darkgrey;
        width: 600px;
        border-collapse: collapse;
        margin-top: 50px;

        &-table{
          text-align: left;
          width: 100%;

          & th,
          td {
            border: solid 1px white;
            padding: 10px;
          }

          & td {
            background-color: #4CAF50;
          }
        }
      }
    }
}

.colorwhite {
  color: white;
}

@media (min-width: 200px ) and (max-width: 700px) {
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &__card {
          flex-direction: column; 
          text-align: center; 
          margin: 15px 0; 
          padding: 0;
          
          &-right {
              &-img {
                  width: 94%;
                  height: 200px;
              }
              &-title {
                  color: white;
                  display: flex;
                  justify-content: center;
              }
          }
          
          &-left {
              background-color: #4CAF50;
              width: 100%; 
              margin-top: 20px; 
              
              &-table {
                  text-align: center; 
                  width: 100%;
                  overflow-x: auto; 
                  
                  & th,
                  td {
                      border: solid 1px white;
                      padding: 8px; 
                  }
                  
                  & td {
                      background-color: #4CAF50;
                  }
              }
          }
      }
      &__Button {
        &-mat {
          background-color: #4CAF50;
        }
      }
  }
  .container__card-left-table.dieta {
    font-size: 14px; 
}
}


